/*  Fonts */

$base-font: 'Inter', sans-serif;
$base-font-size: 1.6rem;

/* Colors */
$green: #0db760;
$black: #000;
$black-100: #0b0c0c;
$black-200: #11142d;
$gray-100: #323433;
$gray: #4d4d4d;
$gray-100: #92929d;
$red: #ff0000;
$white: #fff;
$orange: #fe8b75;
$blue: #0047ff;
$blue-0: linear-gradient(98.68deg, rgba(0, 198, 251, 0.08) 0.33%, rgba(0, 91, 234, 0.08) 97.99%);
/* Grid */

/* Transition */
$default-transition: 0.3s ease-in-out;
$bezier: cubic-bezier(0.25, 0.74, 0.22, 0.99);
$bezier-second: cubic-bezier(0.25, 0.1, 0.25, 1);
$text-bezier: cubic-bezier(0.4, 0, 0, 1);
$apple-cubic: cubic-bezier(0.165, 0.84, 0.44, 1);
$popup-out-bezier: cubic-bezier(0.47, 0.04, 0.5, -0.6);
$popup-in-bezier: cubic-bezier(0.25, 0.74, 0.22, 0.99);
$black-rgba-8: rgba(0, 0, 0, 0.08);

// /* Spacing */
$container-width: 110.9rem;
//$container-width: 135.2rem;
$full-view: calc(var(--vw, 1vw) * 100);
$tablet-padding: 2.4rem;
$mobile-padding: 1.6rem;

$wide-container-width: 141.6rem;
$wide-tablet-padding: 1.2rem;
$wide-mobile-padding: 0.8rem;

$header-height: 9.6rem;

/* Breakpoints */

$breakpoints: (
  mobile: 767.5px,
  tablet: 1023.5px,
  laptop: 1380.5px,
  desktop: 1920.5px,
  large-desktop: 99999px
);
